<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
    </div>

    We're gonna need some more fields here.

    Gonna need a dropdown with all the employers in the Db and a link to add a new employer if they don't find what they're looking for
    we'll need some asp "stuff" to make it all work, so check out the Skill/AddJob if you get stumped. It's not exactly what you need
    but it'll unblock what might be giving you pause.


                    <input type="submit" value="Add Job" />
</form>

